.Button {
    display: inline-block;
    padding: 1px;
    margin: 10px;
    width: 124px;
    height: 32px;
    border: none;
    /*border-radius: 10px;*/
    background-color: #EEE;
    font-size: 18px;
}
.display-none {
    display: none;
}
.display-inline {
    display: inline;
}
